<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<p id="notice"><%= notice %></p>

<h1>Listing Testcases</h1>



<ul class="w3-ul w3-hoverable">
 
    <% @testcases.each do |testcase| %>
      <li class="w3-border">
        
          <% if testcase.code.present? -%>
                <p> <span class="w3-tag w3-blue"><%= testcase.code %></span></p>
          <% end -%>


        
          <% if testcase.title.present? -%>
                <p> <span class="w3-tag w3-blue"><%= testcase.title %></span></p>
          <% end -%>


        
          <% if testcase.summary.present? -%>
                <p> <span class="w3-tag w3-blue"><%= testcase.summary %></span></p>
          <% end -%>


        
          <% if testcase.preconditions.present? -%>
                <p> <span class="w3-tag w3-blue"><%= testcase.preconditions %></span></p>
          <% end -%>


        
          <% if testcase.status.present? -%>
                <p> <span class="w3-tag w3-blue"><%= testcase.status %></span></p>
          <% end -%>


        
          <% if testcase.importance.present? -%>
                <p> <span class="w3-tag w3-blue"><%= testcase.importance %></span></p>
          <% end -%>


        
          <% if testcase.minutes.present? -%>
                <p> <span class="w3-tag w3-blue"><%= testcase.minutes %></span></p>
          <% end -%>


                  <td><%= link_to 'Show', testcase %></td>
          <td><%= link_to 'Edit', edit_testcase_path(testcase) %></td>
          <td><%= link_to 'Destroy', testcase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </li>    
    <% end %>
  
</ul>




<br>

<%= link_to 'New Testcase', new_testcase_path %>
